{{>navbar}}



    <div class="container">
        <div class="row my-4">
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon1.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sunny Periods,Partly Cloudy,Partly Bright,Mild</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon2.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Isolated Showers</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon3.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sunny Intervals,No Rain,Clearing</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon4.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Hot</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon5.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Overcast</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon6.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Thunderstorms,Thundershowers,Storm,Lightning</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row my-4">
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon7.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Freezing Rain</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon8.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Rain</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon9.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Slow Rain</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon10.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sleet</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon11.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Haze</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon12.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Wet,Humid</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row my-4">
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon13.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sunrises</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon14.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Hail</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon15.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sandstorm,Duststorm,Sand,DustThunderstorms,Thundershowers,Storm,Lightning</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon16.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sleet</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon17.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Flurries</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon18.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Snow Showers,Flurries</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row my-4">
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon19.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Scattered Showers</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon20.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Occasional Showers,Scattered Showers</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon21.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sleet</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon22.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sandstorm,Duststorm,Sand,Dust</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon3.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sunny Intervals,No Rain,Clearing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card" >
                    <img src="image/icon10.png" class="card-img-top iconsize" alt="...">
                    <div class="card-body">
                      <p class="card-text">Sleet</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>


   {{>footer}}